<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>Buddies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="searchstring" (input)="searchuser($event)" placeholder="Search"></ion-searchbar>
  <ion-list no-lines>
    <ion-list>
      <ion-item-sliding *ngFor="let key of filteredusers">
        <ion-item>
          <ion-avatar item-left>
            <img src="{{key.photoURL}}">
          </ion-avatar>
          <h2>{{key.displayName}}</h2>
        </ion-item>
        <ion-item-options slide="left">
          <button ion-button color="primary" (click)="sendreq(key)">
            <ion-icon name="person-add"></ion-icon>
            Add
          </button>

          <button *ngIf="!is_followed(key)" ion-button color="default" (click)="follow(key)">
            <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
            Follow
          </button>

          <button *ngIf="is_followed(key)" ion-button color="default" (click)="follow(key)">
            <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
            Un follow
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </ion-list>
</ion-content>
